*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

html{
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #201212;
}

@mixin flex-centerY {
    display: flex;
    flex-direction: column;
    
}


@mixin flex-centerXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    width: 100%;

    header{
        width: 100%;

        .upper{
            padding: 1rem;
            background: linear-gradient(to right, #3166F9, #7346F4);
            
            p{
                font-size: 0.85rem;
                color: #FFFFFF;
                font-weight: 600;
                text-align: center;
            }
        }

        .bottom{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                width: 100%;               
            }
        }
    }

    .hero-section{
        background: linear-gradient(to bottom, #F3FCFF, #FAE1EB);
        padding: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .top{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2rem;
            
            img{
                width: 100% ;
                object-fit: cover;
            }

            h1{
                font-size: 2.7rem;
                font-weight: 600;
                line-height: 0.99;
                text-align: center;
            }
        }

        .bottom{
            padding: 1rem;
            

            p{
                font-size: 1.8rem;
                font-weight: 400;
            line-height: 1.5;
            text-align: center;
            }
        }
    }

    .container{
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .section1{
            margin-top: 2rem;
            width: 100%;
            background-color: #FFFFFF;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            .card{
                width: 100%;

                .line{
                    width: 100%;
                    height: 0.25rem;
                    background-color: #E8EAED;
                }

                
                
                .upper{
                    h3{
                    margin: 2rem 0rem;
                }

                p{
                    color: #4A4A4A;
                    font-size: 1.1rem;
                }

                }

                img{
                    padding: 1rem;
                    margin-top: 3rem;
                    width: 100%;                  
                    object-fit: cover;
                }
            }

            


        }

        .common{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
            }

            .bottom{
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .first{
                    @include flex-centerY();
                    gap: 0.8rem;
                    h4{
                        color: #4A4A4A;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }

                    h3{
                        font-size: 3rem;
                        font-weight: 600;
                    }

                    p{
                        font-size: 1.15rem;
                        font-weight: 0.9;
                        line-height: 1.5;
                    }
                }

                .second{
                    display: flex;
                    flex-direction: column;
                    gap: 1.4rem;

                    .btn1{
                        width: fit-content;
                        border: 1px solid #0468D7;
                        padding: 0.6rem;
                        border-radius: 2rem;
                        background: transparent;
                        

                        h4{
                            font-size: 1.1rem;
                            color: #3166F9;
                        }
                    }

                    .btn2{
                        width: fit-content;
                        border: none;
                        font-weight: 600;
                        background: transparent;
                    }
                }
            }
        }

        .section3{
            display: flex;
            
            background: linear-gradient(to right, #FCFCE2, #F6FBF9);


            .bottom{
                .first{
                    h3{
                        line-height: 1;
                        font-size: 2.8rem;
                    }
                }
                .second{
                    .btn1{
                        
                        background-color: #0468D7;

                        h4{
                            color: #E8EAED;
                            
                        }
                    }
                }  

            }
            
        }

        .section4{
            
            img{
                width: 100%;
                object-fit: cover;
            }

            .bottom{
                .first{
                    h3{
                        line-height: 1;
                    }
                }
            }
        }

        .section5{
            display: flex;
            background: linear-gradient(to right, #FCFCE2, #F6FBF9);


            .bottom{
                .first{
                    h3{
                        line-height: 1;
                        font-size: 2.8rem;
                    }
                }
                .second{
                    .btn1{
                        
                        background-color: #0468D7;

                        h4{
                            color: #E8EAED;
                            
                        }
                    }
                }  

            }
            
        }




    }

    .section6{
        
    }

    

}

@media (min-width: 900px) {
    #main{

        .hero-section{
            padding: 10rem;
            justify-content: space-evenly;
            align-items: center;
            .top{
                flex-direction: row-reverse;
                justify-content: space-evenly;
                align-items: center;

                img{                 
                    width: 50%;
                }

                h1{
                   padding: 2rem;
                    font-size: 4rem;
                }
            }

            .bottom{
                p{
                    padding: 2rem;
                    font-size: 2.2rem;
                    line-height: 0.99;
                }
            }
        }

        .container{
            padding: 10rem;
            margin-top: -6rem;
            
            
        
            .section1{
                
                flex-direction: row;
                .card{
                    // padding: 4rem;
                    gap: 0rem;

                    .line{
                        height: 0.4rem;
                    }
                    .upper{
                        h3{
                            font-size: 1.8rem;
                            font-weight: 600;
                        }

                        p{
                            font-size: 1.3rem;
                        }
                    }

                }
            }

            .common{
                width: 100%;
                flex-direction: row-reverse;
                align-items: center;

                

                img{
                    width: 100%;
                    
                    object-fit: cover;
                }

                .bottom{
                    .first{
                        h3{
                            font-size: 4rem;
                        }

                        p{
                            padding: 0.5rem;
                            font-size: 1.5rem;

                        }
                    }

                    .second{
                        flex-direction: row;
                        gap: 1rem;
                    }
                }

                
            }

            .section3{
                flex-direction: row;
                gap: 3rem;
                width: 100%;
                justify-content: space-evenly;
                /* img, .bottom{
                    width: 40%; */
                
                    img{
                    width: 40%;
                }

                .bottom{
                    .first{
                        .h3{
                            font-size: 2rem;
                        }

                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
                

                
            }

            .section4{
                width: 100%;
                align-items: center;
                justify-content: space-between;
                img, .bottom{
                    width: 40%;
                }
                img{
                    width: 40%;
                }
            }

            .section5{
                flex-direction: row;
                gap: 3rem;
                width: 100%;
                justify-content: space-evenly;
                
                
                    img{
                    width: 40%;
                }

                .bottom{
                    padding: 3rem;
                    .first{
                        h3{
                            
                            font-size: 3.8rem;
                        }

                        p{
                            font-size: 1.4rem;
                        }
                    }
                }
                

                
            }




        }



       
    }
}

