*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

html{
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #201212;
}

@mixin flex-centerXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    width: 100%;

    header{
        width: 100%;

        .upper{
            padding: 1rem;
            background: linear-gradient(to right, #3166F9, #7346F4);
            
            p{
                font-size: 0.85rem;
                color: #FFFFFF;
                font-weight: 600;
                text-align: center;
            }
        }

        .bottom{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                width: 80%;               
            }
        }
    }

    .hero-section{
        background: linear-gradient(to bottom, #F3FCFF, #FAE1EB);
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .top{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 2rem;
            
            img{
                width: 100%;
            }

            h1{
                font-size: 2.7rem;
                font-weight: 600;
                line-height: 0.99;
                text-align: center;
            }
        }

        .bottom{
            

            p{
                font-size: 1.9rem;
                font-weight: 400;
            line-height: 1.5;
            text-align: center;
            }
        }
    }

}

@media (min-width: 900px) {
    main{

        .hero-section{
            .top{
                flex-direction: row-reverse;
            }
        }

       
    }
}

