*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

html{
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    color: #201212;
}

@mixin flex-centerXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    width: 100%;

    header{
        width: 100%;

        .upper{
            padding: 1rem;
            background: linear-gradient(to right, #3166F9, #7346F4);
            
            p{
                font-size: 0.85rem;
                color: #FFFFFF;
                font-weight: 600;
                text-align: center;
            }
        }

        .bottom{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                width: 80%;               
            }
        }
    }

    .hero-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        width: 100%;
        padding: 2rem;
        background: linear-gradient(to bottom, #F3FCFF, #FBE2EC);



        img{
            width: 100%;
        }

        h1{
            padding: 1rem;
            font-size: 3rem;
            font-weight: 600;
            line-height: 0.99;
        }

        p{
            font-size: 1.8rem;
            text-align: center;
        }
    }

}

